.contactLinkedin {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0px 15px 5px 0px;
    background-color: #2D2C37;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    height: 100%;
    width: 300px;
    margin-right: 1px;
}

.contactLinkedin:hover {
    background-color: #005582;
}