.banner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 5px 40px 0px 40px;
    justify-content:space-between;
    background-color: #000000;
    color: #fff;
    height: 700px;
    max-height: 40vh;
    border-radius: 25px;
}

.bannerContent {
    justify-self: start;
    margin: 0px 40px;
    max-width: 30%;
    display: flex;
    align-items: center;
}

.bannerTitle {
    font-size: 6rem;
    font-weight: lighter;
    color: #ffffff;
    font-family: "Abril Fatface", serif;
    line-height: 1;
    margin: 0;
}

.bannerLogo {
    justify-self: center;
    display: flex;
    align-items: center;
}

.bannerLogo img {
    width: 16vh;
    height: auto;
}

.bannerImageContainer {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 40px;
    max-width: 400px;
    gap: 8px;
}

.bannerImage {
    width: 180px;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: 5px;
}

.bannerCaption {
    text-align: end;
    font-size: 2.4rem;
    color: #3C3C3C;
    font-family: "Staatliches", sans-serif;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
}

@media (max-width: 1700px) {
    .bannerCaption {
      font-size: 2rem;
    }
}

@media (max-width: 1500px) {
    .bannerCaption {
      font-size: 1.8rem;
    }
}
